<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.message.toschat.toschat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.message.toschat.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/chat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/chat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="com.message.toschat.ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.message.toschat.ui.collection.CollectionActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.message.toschat.ui.signin.SignInActivity" />
        <activity android:name="com.message.toschat.ui.profile.ProfileActivity" />
        <activity android:name="com.message.toschat.ui.ChatActivity" />
    </application>

</manifest>